@using SASA.SAMS.HMI.WEB.Models
@using SASA.SAMS.PFD
@model IEnumerable<AsrsPfdModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageCSS {
    @Styles.Render("~/ASRS/PFD/css")
}

@section PageJS{
    @Scripts.Render("~/ASRS/PFD/js")
}

<div id="pfd_body">
    <div class="pfd_menu">
        @Html.ActionLink("新增 裝置", "EditDevice", "AsrsPfd", null, new { @class = "list_item" })
    </div>

    <div id="pfd_tree">
        @foreach (AsrsPfdModel m in Model) {
            <div class="device-item" id="@m.DeviceId" typeof="@m.DeviceType">
                <div class="device-name">
                    @Ajax.ActionLink(m.DeviceName, "EditDevice", "AsrsPfd", new { device = m.DeviceId },
               new AjaxOptions() { HttpMethod = "GET" },
               new { @class = "device-id" })
                </div>

                @foreach (PfdStructure.ConnectItem c in m.DeiviceConnectList) {
                    if (c.isConnect) {
                        <div class="device-conn" conn=@c.Id dir=@c.Direction></div>
                    }
                }
            </div>
        }
    </div>
</div>

